{{#bs-modal  as |modal|}}
  {{#modal.header}}
  <h4 class="modal-title">Add New Employee</h4>
  {{/modal.header}}
  {{#modal.body}}
  <div class = "form-group">
    <div class="input-group">
      <label>Name &nbsp; &nbsp; </label>
      <input class="form-control" type="text">
    </div>  
    <div class="input-group">
       <label>Contact  &nbsp;</label>
       <input class="form-control" type="text">
    </div>
    <div class="input-group">
       <label>City &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </label>
       <input class="form-control" type="text">
    </div>
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
  {{#bs-button  type="danger"}}Oh no, forget it!{{/bs-button}}
  {{#bs-button  type="success"}}Yeah!{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
            
  