
<h4 class="modal-title">Add New Employee</h4>
<div class="form-group">
  <div class="input-group">
    <label>Name &nbsp; &nbsp; </label>
    {{input class="form-control" type="text" value=eName}}
  </div>
  <div class="input-group">
    <label>Contact &nbsp;</label>
    {{input class="form-control" type="text" value=eContact}}
  </div>
  <div class="input-group">
    <label>Location </label>
    {{input class="form-control" type="text" value=eLocation}}
  </div>
</div>

{{#link-to 'employees'  class="btn btn-danger"}}Oh no, forget it!{{/link-to}} 
{{#bs-button  onClick=(action
'add') class="btn btn-success"}}Yeah!{{/bs-button}}